<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="test/bootstrap.php"
>
  <testsuites>
  	<testsuite name="CradlePHP Helper Test Suite">
      <file>test/Helper/BinderTrait.php</file>
      <file>test/Helper/ConditionalTrait.php</file>
      <file>test/Helper/InstanceTrait.php</file>
      <file>test/Helper/LoopTrait.php</file>
      <file>test/Helper/SingletonTrait.php</file>
    </testsuite>
    <testsuite name="CradlePHP Resolver Test Suite">
 	  <file>test/Resolver/ResolverException.php</file>
 	  <file>test/Resolver/ResolverHandler.php</file>
	  <file>test/Resolver/ResolverTrait.php</file>
	  <file>test/Resolver/StateTrait.php</file>
    </testsuite>
    <testsuite name="CradlePHP Profiler Test Suite">
      <file>test/Profiler/CallerTrait.php</file>
  	  <file>test/Profiler/InspectorHandler.php</file>
	  <file>test/Profiler/InspectorTrait.php</file>
	  <file>test/Profiler/LoggerException.php</file>
	  <file>test/Profiler/LoggerTrait.php</file>
    </testsuite>
  	<testsuite name="CradlePHP Event Test Suite">
      <file>test/Event/EventHandler.php</file>
      <file>test/Event/EventObserver.php</file>
      <file>test/Event/EventPipe.php</file>
      <file>test/Event/EventTrait.php</file>
      <file>test/Event/PipeTrait.php</file>
    </testsuite>
	<testsuite name="CradlePHP Data Test Suite">
      <file>test/Data/ArrayAccessTrait.php</file>
      <file>test/Data/Collection.php</file>
      <file>test/Data/CountableTrait.php</file>
      <file>test/Data/DataException.php</file>
      <file>test/Data/DataTrait.php</file>
      <file>test/Data/DotTrait.php</file>
      <file>test/Data/GeneratorTrait.php</file>
      <file>test/Data/IteratorTrait.php</file>
      <file>test/Data/MagicTrait.php</file>
      <file>test/Data/Model.php</file>
      <file>test/Data/Registry.php</file>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory suffix=".php">./src</directory>
	  <exclude>
        <directory>./vendor</directory>
        <directory>./test</directory>
		<file>src/Profiler/InspectorInterface.php</file>
		<file>src/Resolver/ResolverInterface.php</file>
		<file>src/Data/Collection/CollectionInterface.php</file>
		<file>src/Data/Collection/CollectionException.php</file>
		<file>src/Data/Registry/RegistryInterface.php</file>
		<file>src/Data/Registry/RegistryException.php</file>
		<file>src/Data/Model/ModelInterface.php</file>
		<file>src/Data/Model/ModelException.php</file>
		<file>src/Event/EventInterface.php</file>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
